/*
 *
 * Default variables for the whole application.
 *
 */





// Main font
$dyn-main-font-family: 'Ubuntu', sans-serif !default;

// Sub font
$dyn-sub-font-family: serif !default;




// Default padding
$dyn-padding: .35em !default;
